@{
    ViewBag.Title = "Index";
}
@section views{
    @Scripts.Render("~/bundles/views/");
}
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner" style="border:0">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Lambda Architecture</a>
        </div> 
    </div>
    <img id="we" src="~/Content/we.gif" style="margin: 0px 0px 0px 20px;" width="250">    
</header>

<div id="MySQL" class="graph"></div>
<hr class="lineBreak"/>
<div id="Lambda" class="graph"></div>
