body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin:0;
}

header, footer, nav, section {
    display: block;
}

/* Western Lambda Stuff*/
#top {
    background-color: #4F2683;
    box-shadow: 0px 3px 4px #6E6E6E;
}

#realtime {
    right: 70px;
    color: white;
    font-size: 20px;
    line-height: 225%;
    float: right;
    position: absolute;
}

.navbar-brand, .navbar-brand:hover {
    color: #FFF;
}

#we {
    float: right;
    height:50px;
    width:auto;
    position:absolute;
    top:0;
    right:0;
}
.graph {
    height: 45%;
    width: 100%;
    position:absolute;
}
#Lambda {
    bottom:0;
}

#highcharts-title important!{
    color:#4F2683;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
